.userCard {
  background-color: #f9f9f9;
  align-items: center;
  border-radius: 30px 5px 5px 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
.userCard:hover {
  background-color: #e9e9e9;
}
.userCard span {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
.userCard img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.userCard i {
  align-items: center;
  background-color: #f9f9f9;
  border: 2px solid #fc466b;
  border-radius: 3px;
  color: #fc466b;
  display:flex;
  height: 45px;
  justify-content: center;
  transition: 0.2s linear all;
  width: 45px;
}
.userCard i:hover {
  background-color: #fc466b;
  color: white;
}