:root {
  --border-grey: #dddddd;
  --card-bg: #f9f9f9;
  --card-bgh: #e9e9e9;
  --pink: #fc466b;
  --pink-trans: #fc46b0;
  --transparent: #00000000;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 15%;
  padding-top: 60px;
}
.hidden {
  display: none;
}
.error {
  color: var(--pink);
}
.user-page-link {
  color: var(--pink);
  cursor: pointer;
}
.fa-heart:hover {
  color: black;
  cursor: pointer;
}