.userCard {
  align-items: center;
  background-color: var(--card-bg);
  border-radius: 30px 5px 5px 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
.userCard:hover {
  background-color: var(--card-bgh);
}
.userCard span {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
.userCard img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.userCard i {
  align-items: center;
  background-color: var(--card-bg);
  border: 2px solid var(--pink);
  border-radius: 3px;
  color: var(--pink);
  display:flex;
  height: 45px;
  justify-content: center;
  transition: 0.2s linear all;
  width: 45px;
}
.userCard i:hover {
  background-color: var(--pink);
  color: white;
}