main {
  margin: 0 15%;
  padding-top: 60px;
}
#for-you {
  padding: 10px 0;
  /* align-items: flex-start; */
  display:flex;
  /* gap: 5px; */
  /* justify-content: space-between; */
}
#following-songs-container {
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* height: calc(100vh - 150px); */
  padding: 10px;
  width: 75%;
  /* overflow-y: scroll; */
}
#following {
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: fit-content;
  padding: 10px;
  position: fixed;
  right: 15%;
  width: 17.25%;
  flex-grow: 1;
}