#login-form {
  align-items: flex-start;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 30vw;
}
#login-form form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.input-info {
  align-items: center;
  width: 100%;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}
#login-form input {
  font-size: 1.5em;
  height: 30px;
  padding: 0 5px;
  width: calc(30vw - 40px);
}
#login-form button {
  background-color: white;
  border: 2px solid var(--pink);
  border-radius: 5px;
  color: var(--pink);
  font-weight: bold;
  height: 25px;
  transition: 0.2s linear all;
  width: calc(30vw - 40px);
}
#login-form button:hover {
  background-color: var(--pink);
  color: white;
  cursor: pointer;
}
#login-form button[disabled] {
  background-color: white;
  border: 2px solid var(--border-grey);
  border-radius: 5px;
  color: var(--border-grey);
  font-weight: bold;
  height: 25px;
  transition: 0.2s linear all;
  width: calc(30vw - 40px);
}
#login-form button.demo-login {
  border-color: var(--pink);
  color: var(--pink);
}
#login-form button.demo-login:hover {
  background-color: var(--pink);
  color: white;
  cursor: pointer;
}