main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
main section, main aside {
  border-radius: 5px;
}
.main-left {
  border: 1px solid var(--border-grey);
  border-top-left-radius: 15px;
  padding: 10px;

}
.main-right {
  align-items: flex-start;
  border: 1px solid var(--border-grey);
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  flex-grow: 1;
}
