#homepage-songs {
  border: 1px solid var(--border-grey);
  border-radius: 15px 15px 0 0;
  width: 75%;
}
#following {
  align-items: flex-start;
  border: 1px solid var(--border-grey);
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: fit-content;
  padding: 10px;
  position: fixed;
  right: 15%;
  top:95px;
  width: 17.25%;
  flex-grow: 1;
}