.song-modal {
  align-items: flex-start;
  background-color: white;
  border-radius: 15px;
  display:flex;
  gap: 5px;
  justify-content: flex-start;
  height: fit-content;
  overflow-x: hidden;
  padding: 10px;
}
.song-form {
  align-items: flex-start;
  border: 1px solid #888;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: flex-start;
  padding: 10px;
}
.song-form input[type='text'] {
  width: 100%;
}
.song-modal-deets {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  min-width: 25vw;
  position: relative;
}

.song-form ul {
  width: 100%;
  padding: 5px;
}
.form-specs {
  list-style: none;
  color: var(--pink)
}
.sfm-preview {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.sfmp-inner {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}
.sfmp-inner audio {
  width: 100%;
}
.sfm-preview img {
  object-fit: cover;
  border-top-right-radius: 10px;
  width: 120px;
  height: 120px;
}
.song-modal button {
  background-color: white;
  border: 2px solid var(--pink);
  border-radius: 100px;
  color: var(--pink);
  padding: 5px;
  width: 100%;
  transition: all .3s linear;
}
.song-modal button:hover {
  background-color: var(--pink);
  color:white;
  cursor: pointer;
}
.song-modal button.cancel {
  border-color: #888;
  color: #888;
}
.song-modal button.cancel:hover {
  background-color: #888;
  color:white;
  cursor: pointer;
}